---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}

<header>
  <div class="header__top">
    <div class="container">
      <div class="header__hamburger">
        <div class="hamburger__line"></div>
      </div>
      <div class="header__callback">
        <div class="header__phones">
          <div></div>
          <div>
            <a href="#">+7 922-556-85-75</a>
            <a href="#">+7 905-812-19-84</a>
          </div>
        </div>
        <div class="header__order">
          Заказать обратный звонок
        </div>
      </div>
    </div>
  </div>
  <div class="header__middle">
    <div class="container">
      <h2>ООО “Инженерные системы”</h2>
      <h1>Работы по монтажу систем отопления и водоснабжения под ключ</h1>
      <div class="button">Оставить заявку</div>
    </div>
  </div>
  <div class="header__bottom">
    <div class="container">
      <div class="header__question">Задать вопрос?</div>
      <div class="header__mouse"></div>
      <div class="header__social"></div>
    </div>
  </div>
</header>

{% endblock %}
